*.pfx
*.snk
Testing/bin/*
Testing/obj/*
TestResults/*
*.testsettings
*.suo
*.ncrunchsolution.user
*.crunchsolution.cache
*.vbproj.user
*.pdf
*/tmp/*
*/out/*
*/bin/*
*/obj/*
*.crunchsolution.cache
*.ncrunchsolution
*.ncrunchproject
*.user
_ReSharper.*
*.vsmdi
